.container {
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    margin-top: 0;
}

.container a {
    color: #aaa;
}

.container a:hover {
    text-decoration: underline;
}
