.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    margin-top: 0;
}

.container a {
    color: #aaa;
}

.container a:hover {
    text-decoration: underline;
}

.tabs {
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    gap: 2em;
}
