.container {
    padding: 2em;
    background-color: #0c0c11;
    min-height: 100vh;
}

.container h2 {
    margin-top: 0;
}

.container a {
    color: #aaa;
}

.container a:hover {
    text-decoration: underline;
}
