.projectName {
    display: flex;
    align-items: center;
}

.projectName svg {
    margin-left: 10px;
}

.projectImage {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

.projectImage img {
    object-fit: cover;
}
