.projectName {
    display: flex;
    align-items: center;
}

.projectName svg:first-of-type {
    margin-right: 10px;
}

.projectName span {
    padding-top: 2px;
    font-weight: 700;
}

.projectName svg:last-of-type {
    margin-left: 10px;
    color: #999;
}

.projectImage {
    position: relative;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

.projectImage img {
    object-fit: cover;
    border-radius: 4px;
}

.link {
    display: flex;
    align-items: center;
    gap: 6px;
}

.link a:hover {
    text-decoration: underline;
}
