@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: white;
}

body {
    background-color: #070910;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
