.container {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container input {
    padding: 10px;
}
